*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common  */

.clearfix {
    content: "";
    display: table;
    clear: both;
}
.container {
    width: 60%;
    margin: 0 auto;  
}
body {
    font-family: Montserrat;
}
div {
    border-radius: 10px;
}
main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/* fine common  */

/* inizio Head  */
.contenitore-head {

    width: 100%;
    height: 100%;
    /* background-color: rgb(247, 87, 230); */
    margin-top: 15px;
    margin-bottom: 15px;

}
#logo img {
    height: 70px;
    padding-right: 20px;
    border-right: 1px solid rgb(229, 229,229);
}
nav {
    margin: 30px 0;
}
nav li {
    display: inline;
    list-style: none;
    text-transform: uppercase;
}
nav li a {
    text-decoration: none;
    color: rgb(156, 156, 156);
    padding-right: 10px;
}
/* fine Head  */

/* inizio sliders  */

.contenitore-sliders {
    position: relative;
    width: 100%;
    height: 400px;
    /* background-color: rgb(224, 218, 116);  */
    margin-bottom: 15px;
}
.contenitore-sliders img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/* OVERLAY  */
div.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
/* /OVERLAY  */

/* gestione del testo della Slider */
div.sliders-text {
    position: absolute;
    width: 50%;
    bottom: 30px;
    left: 20px;
    color: white;
}
h2 {
    font-weight: 300;
}
p {
    font-weight: 100;
}
/* /gestione del testo della Slider */

/* fine sliders  */

/* inizio main  */
.contenitore-main {
    width: 100%;
    /* background-color: rgb(0, 122, 255); */
}
.main-img {
    height: 200px;
}
/* stile top  */
.top {
    width: 100%;
    /* background-color: rgb(165, 207, 233);  */
    margin-bottom: 15px;
}
.top p {
    color: rgb(152, 152, 152);
}
/* fine stile top  */
/* stile menu-dx  */
.menu-dx {
    position: relative;
    float: left;
    width: calc(100% / 5);
    /* background-color: rgb(165, 207, 233);  */
    margin-bottom: 15px;
}
/* /stile menu-dx  */

/* stile corpo centrale  */
.corpo-centrale {
    float: left;
    width: calc((100% / 5) * 3 - 30px);
    /* background-color: rgb(165, 207, 233);  */
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
/* /stile corpo centrale  */

/* stile menu-sx  */
.menu-sx {
    float: left;
    width: calc(100% / 5);
    /* background-color: rgb(165, 207, 233);  */
    margin-bottom: 15px;
}
/* /stile menu-sx  */

/* gestione delle immagini dei float del main */
.main-img {
    position: relative;
    width: 100%;
    height: 150px;
}

}
.menu-img {
    position: absolute;
    z-index: 0;
    object-fit: cover;
}
/* /gestione delle immagini dei float del main */
h3 {
    font-weight: 200;
    line-height: 50px;
}
/* fine main  */


/* inizio Footer  */
.contenitore-footer {

    width: 100%;
    height: 100px;
    /* background-color: rgb(159, 0, 255); */
    margin-top: 10px;
    margin-bottom: 15px;
} 
.footer-text {
    line-height: 100px;
    text-align: center;
    font-weight: 300;

}
#heart {
    color: red;
    font-size: 20px;
}
/* fine Footer */